* { 
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
}

.iambm_book {
	width: 100%;
	height: 100%;
}

.iambm_main{
}

.iambm_log{
	border: 2px solid red;
	background: white;
	color: black;
}

.iambm_help_title {
	font-style: italic;
}

.iambm_help {
	margin-top: 10px;
}
.iambm_help_demo {
	width: 70%;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid green;
	background-color: #f8ebda;
	padding: 5px;
}
.iambm_help_point{
	margin-left: 10px;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	
}
.iambm_help_select {
	border: 1px dotted white;
	font-size: 25px;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.iambm_help_single {
	border: 1px dotted white;
	font-size: large;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	background-color: rgb(89,183,72);
}
.iambm_help_select1 {
	background-color: rgb(89,183,72);
}
.iambm_help_select2 {
	background-color: rgb(80,166,175);
}
.iambm_help_select3 {
	background-color: rgb(159,163,92);
}
		/* REQUIRED BUTTON STYLES: */		
		button { 
			position: relative;
			border: 0; 
			padding: 0;
			cursor: pointer;
			overflow: visible; /* removes extra side padding in IE */
			margin-bottom:5px;
		}

		button::-moz-focus-inner {
			border: none;  /* overrides extra padding in Firefox */
		}

		button div { 
			position: relative;
			display: block; 
			white-space: nowrap;	
			vertical-align: middle;
		}

		button div div{ 
			display: inline;
			padding-right:5px;
			padding-left: 5px;
			font-size: 30px;
			vertical-align: middle;
			font-weight: bold;
		}

		button > div > div:empty {
			padding-right:0px;
			padding-left:0px;
			font-size: 1px;
		}

		@media screen and (-webkit-min-device-pixel-ratio:0) {
			/* Safari and Google Chrome only - fix margins */
			button div {
				margin-top: -1px;
			}
		}


		/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
		button.btnCommon {
			padding: 0 15px 0 0; 
			margin-right:5px; 
			font-size:20px; 
			text-align: center; 
		}

		/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
		button.btnGame {
			padding: 0 15px 0 0; 
			margin-right:5px; 
			text-align: center; 
			font-size: 14px;
		}
		
		button.btnCommon:hover, button.btnCommonHover { /* the redundant class is used to apply the hover state with a script */
			background-position: right -210px; 
		}
			
		button.btnCommon:hover div, button.btnCommonHover div {
			background-position: 0 -70px;
		}

		button.btnCommon > div {
			padding: 13px 0 0 15px; 
			height:37px; 
			min-width:50px;
		}

		button.btnGame > div {
			padding: 7px 0 0 5px; 
			height:50px; 
			min-width:40px;
		}
		
		/* SPECIAL STYLES FOR DIFFERENT BUTTONS */

		button.btnCommon {
			background: transparent url(btn_blue_sprite.gif) no-repeat right -140px; 
		}

		button.btnCommon > div {
			background: transparent url(btn_blue_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		button.btnGame1 {
			background: transparent url(btn_red_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame1 > div {
			background: transparent url(btn_red_sprite.gif) no-repeat left top; 
			color:black; 
		}

		button.btnGame2 {
			background: transparent url(btn_green_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame2 > div {
			background: transparent url(btn_green_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		button.btnGame3 {
			background: transparent url(btn_brown_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame3 > div {
			background: transparent url(btn_brown_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		button.btnGame4 {
			background: transparent url(btn_gold_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame4 > div {
			background: transparent url(btn_gold_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		button.btnGame5 {
			background: transparent url(btn_metallic_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame5 > div {
			background: transparent url(btn_metallic_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		button.btnGame6 {
			background: transparent url(btn_purple_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame6 > div {
			background: transparent url(btn_purple_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		button.btnGame7 {
			background: transparent url(btn_sea_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame7 > div {
			background: transparent url(btn_sea_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		button.btnGame8 {
			background: transparent url(btn_yellow_sprite.gif) no-repeat right -140px; 
		}

		button.btnGame8 > div {
			background: transparent url(btn_yellow_sprite.gif) no-repeat left top; 
			color:#fff; 
		}

		/* INLINE NUMBER STYLES */
/*
		button.btnGame1 > div div {
			color:yellow; 
			font-family:'Courier New';
			font-weight:bold;
		}

		button.btnGame8 > div > div {
			color:red; 
			font-family:'Impact';
			font-weight:bold;
		}
*/

